<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.1.1" targetFramework="monoandroid6" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid6" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="monoandroid60" />
</packages>