<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.0.0" targetFramework="monoandroid5" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="monoandroid5" />
</packages>